<h1><%= t('admin.tags.index.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('labels.name') %></th>
      <th><%= t('users.fields.locale') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= tag.locale.upcase %></td>
        <td>
          <%= link_to t('actions.edit'), edit_admin_tag_path(tag) %> |
          <%= button_to t('actions.delete'), admin_tag_path(tag), method: :delete, data: { confirm: t('actions.are_you_sure') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= t('admin.tags.index.new_tag') %></h2>
<%= form_with model: @tag, url: admin_tags_path, local: true do |form| %>
  <%= form.label :name, t('labels.name') %>
  <%= form.text_field :name %>

  <%= form.label :locale, t('users.fields.locale') %>
  <%= form.select :locale, options_for_select(I18n.available_locales.map { |locale| [locale.upcase, locale] }) %>

  <%= form.submit t('actions.save') %>
<% end %>
